.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box{
    
    width:1375px;
}

.contact-header{
    padding: 10px;
    font-weight: bold;
    width:100%;
    background-color: #002060;
    color:white;
}

.white-box{
    border: 2px solid black;
    display: flex;
}
.contact-no{
    font-weight: 500;
    display: flex;
    justify-content: center;
    width:230px;
    padding-top: 5px;
}
form{
    width:100%;
}
.single-input-box{
    border: 1px solid black;
    padding:10px 10px;
    display: flex;
    width:100%;
}
.two-input-box{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    padding:10px 10px;
    display: flex;
    gap:200px;
    height:100%;
}

.single-input-box input{
    
    width:500px;
}

.add-btn{
    height:50px;
    width:50px;
    color:white;
    background-color: rgb(19, 166, 19);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover{
        background-color: rgb(17, 146, 17);
    }
}


