.alert-overlay {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    z-index: 999; /* Ensure it appears on top of other elements */
  }
  
  .alert {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 600px;
    padding: 50px 0;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgba(27, 88, 117, 0.2);
    display: flex;
    flex-direction: column;
    z-index: 1000; /* Ensure it appears above the overlay */
    animation: fadeIn 0.5s ease-out; /* Apply the animation */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    position: relative;
    transition: transform 0.3s ease-out; /* Smooth transition for transformations */
    margin-top: 100px;
    margin-left: 15rem;
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-out; /* Apply the fade-in animation */
  }
  
  .fade-out {
    animation: fadeOut 0.5s ease-out; /* Apply the fade-out animation */
  }
  
  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9); /* Start slightly smaller */
    }
    to {
        opacity: 1;
        transform: scale(1); /* Scale to normal size */
    }
  }
  
  @keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1); /* Scale to normal size */
    }
    to {
        opacity: 0;
        transform: scale(0.9); /* End slightly smaller */
    }
  }
  
  .alert-icon {
    font-size: 45px;
  }
  
  .alert-title {
    gap: 10px;
    display: flex;
    align-items: center;
    font-size: 1.5em; /* Larger font size */
    font-weight: bold; /* Bold text */
    margin-bottom: 10px; /* Space between title and message */
    color: inherit; /* Inherit color from alert type */
    position: absolute;
    top: 25%;
    left: 5%;
  }
  
  .alert-message {
    position: relative;
    top: 20px;
    left: 40%;
    margin-right: 20px;
  }
  
  .alert-loader {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  
  .alert-loader::before {
    content: '';
    display: block;
    height: 100%;
    background-color: white; /* Loader bar color */
    animation: load 5s linear;
  }
  
  @keyframes load {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  .alert-close {
    position: absolute;
    right: 20px;
    top: 20px;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    transition: color 0.3s;
  }
  
  .alert-close:hover {
    color: lightgray;
  }
  
  .alert-success {
    background-color: #4cb051;
    color:#ffffff;
  }
  
  .alert-error {
    background-color: #fde4e4;
    color: #cf0528;
    border: none;
  }
  
  .alert-warning {
    background-color: #fff3cd;
    color: #856404;
  }

  .alert-inform {
    background: linear-gradient(to right,#00a43f, #3eb357, #48bb61, #47cd65,#00d652);
    color:white;
  }