.radio {
  position: relative;
  display: inline-block;
}

.radio input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.radio label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.radio label:before {
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  width: 15px;
  height: 15px;
  border: 1px solid #6c6c6c;
  background-color: #fff;
}

.radio input[type="checkbox"]:hover + label:before {
  background-color: white;
}

.radio input[type="checkbox"]:checked ~ label:before {
  background-color: #456afa;
  border: white;
}

.radio input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
